.root {
   width: 100%;
   height: 100%;
}

.header {
   background-image: url('./constants/rain.svg');
   background-color: rgb(204, 234, 247);
}
.header,
.footer {
   text-align: center;
   height: 100vh;
   position: sticky;
   top: 0px;
   display: flex;
   justify-content: space-around;
   align-items: center;

   background-size: cover;
   background-position: center bottom;
}

.footer {
   background-color: #bee1e5;
}
#about,
#work,
#site {
   height: 100vh;
   position: sticky;
   top: 0px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
#about {
   background-color: rgb(255, 233, 160);
}

#work {
   background-color: #cfe5cc;
}

#site {
   background-color: rgb(255, 217, 225);
}

.image {
   flex: 1 1 0%;
   display: flex;
   justify-content: flex-end;
   position: relative;
}

.header-wrapper,
.about-wrapper,
.site-wrapper {
   width: 80%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.work-wrapper {
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.header-wrapper {
   flex-direction: column;
}

.site-wrapper {
   flex-direction: row;
}

.navbar {
   color: #fff;
   background-color: black;
   display: flex;
   justify-content: space-around;
   padding-top: 1rem;
   margin-bottom: 0;
   position: fixed;
   top: 0;
   z-index: 999;
   width: 100%;
   padding-bottom: 1rem;
}

.navlink:hover {
   cursor: pointer;
}

.about:hover {
   text-decoration: underline;
   color: black;
}

.text-heading {
   text-decoration: underline wavy white;
}

@media screen and (max-width: 800px) {
   .header {
      background-image: none;
   }
   #about,
   #work,
   .header,
   #site,
   .footer {
      height: 100vh;
      width: 100%;

      padding: 1rem;
   }
   .music,
   .quotes {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .site-wrapper {
      flex-direction: column;
   }
   .h1 {
      font-size: 3em !important;
   }
   .image {
      display: none;
   }
}

@media screen and (max-width: 470px) {
   #about,
   #work,
   .header,
   #site,
   .footer {
      height: auto;
      top: auto;
      width: 100%;

      padding: 1rem;
      position: relative;
   }
   .music,
   .quotes {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .site-wrapper {
      flex-direction: column;
   }

   #header-gif {
      display: none;
   }
}
