.root {
   width: 100%;
   height: 100%;
}

.header {
   text-align: center;
   background-color: rgb(204, 234, 247);
   height: 100vh;
   position: sticky;
   top: 0px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-image: url('./constants//rain.svg');
   background-size: cover;
   background-position: center bottom;
}

#about,
#work,
#site {
   height: 100vh;
   position: sticky;
   top: 0px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
#about {
   background-color: rgb(255, 233, 160);
}

#work {
   background-color: #cfe5cc;
}

#site {
   background-color: rgb(255, 217, 225);
   /* justify-content: center; */
}

.image {
   flex: 1 1 0%;
   display: flex;
   justify-content: flex-end;
   position: relative;
}

@media screen and (max-width: 800px) {
   .header {
      background-image: none;
      /* position: relative; */
   }
   #about,
   #work,
   .header,
   #site {
      height: 100vh;
      width: 100vh;

      padding: 1rem;
   }

   img {
      width: 50vh;
      height: 50vh;
   }
   .h1 {
      font-size: 3em !important;
   }
   .image {
      display: none;
   }
}

.about:hover {
   text-decoration: underline;
   color: black;
}

.text-heading {
   text-decoration: underline wavy white;
}

.navbar {
   color: #fff;
   background-color: black;
   display: flex;
   justify-content: space-around;
   padding-top: 1rem;
   margin-bottom: 0;
   position: fixed;
   top: 0;
   z-index: 999;
   width: 100%;
   padding-bottom: 1rem;
}

.navlink:hover {
   cursor: pointer;
}

/* @media screen and (max-width: 900px) {
   .h1 {
      font-size: 2rem !important;
   }
}

@media screen and (min-width: 600px) {
   .header-gif {
      width: 300px;
      height: 400px;
   }
} */
